@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --color-midnight: #001b42;
  --color-travel-gray: #808080;
  --color-travel-dark: #1f2328;
  --color-travel-sky: #e4eaf6;
  --color-media-dark-blue: #001b42;
  --color-media-sky-blue: #bcc8d9;
}

* {
  font-family: "Montserrat";
}
