<div
  class="flex justify-between mx-[6%] py-10 items-center border-b-2 text-lg border-black"
>
  <img src={"/logo.png"} class="w-[20%]" />
  <span class="cursor-pointer" data-header-section>HOME</span>
  <span class="cursor-pointer" data-header-section>SOBRE NOSOTROS</span>
  <span class="cursor-pointer" data-header-section>SERVICIOS</span>
  <span class="cursor-pointer" data-header-section>SOLUCIONES POR OBJETIVO</span
  >
  <span class="cursor-pointer" data-header-section>CONTACTO</span>
</div>
