<div
  class="flex mx-6 lg:mx-22 px-5 py-10 items-center lg:border-b-2 lg:border-white gap-20 justify-center"
>
  <img src={"/logo.png"} alt="rema travel" class="lg:w-1/7 w-2/5" />
  <div
    class="hidden justify-between w-full items-center text-lg text-white lg:flex"
  >
    <span class="cursor-pointer" data-header-section>HOME</span>
    <span class="cursor-pointer" data-header-section>DESTINOS DESTACADOS</span>
    <span class="cursor-pointer" data-header-section>PLANES</span>
    <span class="cursor-pointer" data-header-section
      >EXPERIENCIAS</span
    >
    <span class="cursor-pointer" data-header-section>SOBRE NOSOTROS</span>
  </div>
  <img
    src={"menu.png"}
    alt="menu"
    class="hidden fixed right-6 w-10 h-10 z-10"
  />
</div>
