---
const { label, key, inputType } = Astro.props;
const styles =
  "border-travel-gray bg-white lg:rounded-2xl rounded-lg lg:text-lg lg:p-5 p-2 text-midnight";
---

<div class="flex flex-col flex-1">
  <label class="font-light text-midnight lg:text-lg my-1" for={key}
    >{label}</label
  >
  {
    inputType !== "textarea" ? (
      <input type={inputType} class={styles} />
    ) : (
      <textarea class:list={[styles, "h-50"]} />
    )
  }
</div>
