---
const { label, key, inputType } = Astro.props;
const styles = "border-gray-400 bg-white rounded-2xl text-lg p-5";
---

<div class="flex flex-col flex-1">
  <label class="font-light text-lg my-1" for={key}>{label}</label>
  {
    inputType !== "textarea" ? (
      <input type={inputType} class={styles} />
    ) : (
      <textarea class:list={[styles, "h-50"]} />
    )
  }
</div>
