---
const { title, dark } = Astro.props;
---

<h2
  class:list={[
    dark ? "text-white" : "text-midnight",
    "font-black lg:text-6xl text-2xl mx-[6%] leading-8 lg:leading-15 text-center font-stretch-expanded",
  ]}
>
  {title}
</h2>
