---
const { image, title, description } = Astro.props;
---

<div class="lg:w-[45%] w-full flex flex-col items-center">
  <img src={image} class="rounded-3xl w-[100%] object-cover lg:h-[60%] h-45" />
  <span
    class="leading-4 lg:leading-7 lg:mx-[27%] mx-20 text-midnight font-black lg:text-3xl lg:mt-4 mt-2 text-center"
    >{title}</span
  >
  <p
    class="mx-[10%] leading-4 lg:leading-8 lg:text-2xl text-travel-gray text-sm text-center lg:mt-3 mt-1"
  >
    {description}
  </p>
</div>
