---
import Facebook from "../assets/icons/facebook.svg";
import WhatsApp from "../assets/icons/whatsapp.svg";
import Instagram from "../assets/icons/instagram.svg";
const { icon } = Astro.props;

let Icon;

switch (icon) {
  case "facebook":
    Icon = Facebook;
    break;
  case "whatsapp":
    Icon = WhatsApp;
    break;
  default:
    Icon = Instagram;
}
---

<div class="rounded-full bg-black text-white p-3">
  <Icon width={40} height={40} fill="white" />
</div>
