---
import "../styles/global.css";
import 'lenis/dist/lenis.css'
import Header from '../components/Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <script type="module" src="/src/scripts/lenis.js" defer></script>
    <script type="module" src="/src/scripts/gsap.js" defer></script>
		<title>Rema Travel</title>
	</head>
	<body>
    <Header />
		<slot />
	</body>
</html>

