---
import "../styles/global.css";
import Header from "../components/Header.astro";
import ClientEffects from "../components/ClientEffects.jsx";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Rema Travel</title>
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta
      name="google-site-verification"
      content="PoYszim4vvxqeUwP0U7rkOAD5np2taBsqQabiwRUZac"
    />
  </head>
  <body>
    <ClientEffects client:only="react" />
    <Header />
    <slot />
  </body>
</html>
